## Importing Packages

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings("ignore")

## Loading Data

In [2]:
data = pd.read_csv('abalone_dataset.csv')
sample = pd.read_csv('abalone_app.csv')
sample.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
0,M,0.600,0.480,0.175,1.2290,0.4125,0.2735,0.4150
1,F,0.545,0.385,0.150,1.1185,0.5425,0.2445,0.2845
2,F,0.645,0.520,0.180,1.2850,0.5775,0.3520,0.3170
3,M,0.640,0.510,0.170,1.3715,0.5670,0.3070,0.4090
4,F,0.655,0.540,0.215,1.5555,0.6950,0.2960,0.4440

## Converting String feature to integer

In [5]:
def conv(sex):
    if sex == 'M':
        sex = 0
    elif sex == 'F':
        sex = 1
    else:
        sex = 2
        
    return sex

data['sex'] = data['sex'].apply(conv)
sample['sex'] = sample['sex'].apply(conv)
sample.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
0,0,0.600,0.480,0.175,1.2290,0.4125,0.2735,0.4150
1,1,0.545,0.385,0.150,1.1185,0.5425,0.2445,0.2845
2,1,0.645,0.520,0.180,1.2850,0.5775,0.3520,0.3170
3,0,0.640,0.510,0.170,1.3715,0.5670,0.3070,0.4090
4,1,0.655,0.540,0.215,1.5555,0.6950,0.2960,0.4440

## Grouping data

In [6]:
features = data.columns.difference(['type'])

X = data[features]
y = data['type']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2019, test_size = 0.2, train_size = 0.8, shuffle = True)
print(X_train.shape)
print(X_test.shape)

(2505, 8)
(627, 8)

## Creating the Classifier

In [7]:
# creating the RFClassifier
classifier_random_forest = RandomForestClassifier(random_state=2019,
                           criterion='entropy',
                           max_depth=6,
                           max_features=0.1,
                           bootstrap=True,
                           n_estimators=150,
                           )

# training the RFClassifier
classifier_random_forest.fit(X_train, y_train)
classifier_random_forest.score(X_test, y_test)

0.696969696969697

In [8]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(classifier_random_forest, X, y, scoring='accuracy', cv=5)
print(scores.mean())

0.64653931388982

In [ ]:
import requests

#realizando previsões com o arquivo de
print(' - Aplicando modelo e enviando para o servidor')
y_pred = classifier_random_forest.predict(sample)

# Enviando previsões realizadas com o modelo para o servidor
URL = "https://aydanomachado.com/mlclass/03_Validation.php"

#TODO Substituir pela sua chave aqui
DEV_KEY = "VovóLearn"

# json para ser enviado para o servidor
data = {'dev_key':DEV_KEY,
        'predictions':pd.Series(y_pred).to_json(orient='values')}

# Enviando requisição e salvando o objeto resposta
r = requests.post(url = URL, data = data)

# Extraindo e imprimindo o texto da resposta
pastebin_url = r.text
print(" - Resposta do servidor:\n", r.text, "\n")